/****  
_____                   _   _                                _____  _____  _____  __  
|_   _|                 | \ | |                              / __  \|  _  |/ __  \/  | 
  | |_   _ _ __   __ _  |  \| | __ _ _   _ _   _  ___ _ __   `' / /'| |/' |`' / /'`| | 
  | | | | | '_ \ / _` | | . ` |/ _` | | | | | | |/ _ \ '_ \    / /  |  /| |  / /   | | 
  | | |_| | | | | (_| | | |\  | (_| | |_| | |_| |  __/ | | | ./ /___\ |_/ /./ /____| |_
  \_/\__,_|_| |_|\__, | \_| \_/\__, |\__,_|\__, |\___|_| |_| \_____/ \___/ \_____/\___/
                  __/ |         __/ |       __/ |                                      
                 |___/         |___/       |___/   CSS - MOBILE                                     
****/
/* In this design I took inspiration from "The Matrix" design style
with green and black as main colours, providing a futuristic, neon and cyber-like
look, expressing my own kind of style. This is what I want to present in my website*/

/****** This is for phones in portrait orientation ***/
@media only screen and (orientation:portrait){
    /***** general settings ****/
    html{
        background-color:rgb(0, 0, 0);
    }

    li{
        list-style-type:none; /** This helps me hide the bullets of the lists away*/
    }

    hr{
        border: 2px dashed green;
    }

    /* These 2 lines below put the the size of the scroll bar to 0 on mobile view. */
    ::-webkit-scrollbar {
        width: 0px;
    }
    
    ::-webkit-scrollbar-track {
        border:none; 
    }
  
/* This makes the highlighting color turns green, when viewer wants to highlight the text on my websites*/
    ::selection {
        color: white;
        background: green;
    }
    
    .text{
        color:whitesmoke;
        font-family:monospace;
        font-size:5.5vw;
    }

    h1{
        color:whitesmoke;
        font-family:monospace;
        font-size:14vw;
    }

    h2{
        color:whitesmoke;
        font-family:monospace;
        font-size: 12vw ;
    }

    h3{
        color:whitesmoke;
        font-family:monospace;
        font-size: 10vw ;
    }


    a{
        color:yellow;
    }

    a:hover{
        animation: color-change-foot 2s infinite; /* This is one of the animation which will be announced later on
                                                    This makes the anchors change colors when you hover through it*/

    }
/*some image needs to be smaller on mobile*/
    .mobile-image{
        width:50%;
    }

/*Some elements that I want to be visible in mobile screens while hidden on pc screens will be announced here*/
    .mobile-content{
        text-align:center;
        visibility:visible;
        font-size:x-large;
    }
    /***** general settings ****/
        


    /* header and navigation bar starts */

    header{
        background-color :black;
        background-image: linear-gradient(to right, greenyellow,green, greenyellow);
        text-align :center;  
        height:20vw;
        margin-bottom:1% ;
    }

    
    #header-logo{
        animation: entrance 2s;
        transition: transform .3s;
        height:25%;
        width:25%;
    }

    #header-logo:hover{
        transform: translatex(-25px);
    }
    /*Cool entrance animation and hover animation for the logo*/
    @keyframes entrance{
        0%{transform: rotate(180deg) translatey(200px);opacity:0;}
        75%{transform:translatey(0px);}
        100%{transform: rotate(0deg);opacity:1;}
    }


    /*The navigation bar in mobile mode is made different from the pc mode, as it
    put every menu button into one column, which makes it easier for the viewer.*/
    nav{
        margin:auto;
        text-align:center;
        padding-top:5%; 

    }

    .menu-button {
        width:80%;
        overflow:auto;
        margin:1.25%;
        color:white;
        font-size:8vw;
        border:none;
        font-family:monospace;
        border-radius:13vw;
        background-color:green;
        transition: transform .3s;
        
        
    }
    /*hover animation for menu buttons*/
    .menu-button:hover {
        transform: translateY(5px);
        background-color:rgb(141, 207, 40);
    }
    /************ header and navigation bar ends **************/





    /************ entry starts ****************/
    /*entry sections represent the introductional banner that appears on top
    of every page, some of them may have directional buttons to direct the viewer
    to some other certain places.
    There are 3 banners currently availble: 
    - eb1 is for home page
    - eb2 is for my hometown page
    - eb3 is for about page
    Each has different background and is allowed to be styled differently*/
    .entry-block{
        overflow: auto;
        padding:20% 0 20% 0;
    }

    #eb1{
        background-image:url("../image/me2.png");
        background-repeat:repeat-x;
        background-position:center;
    }

    #eb2{
        background-image:url("../image/me3.jpg");
        background-repeat:repeat-x;
        background-position:center;
    }

    #eb3{
        background-image:url("../image/gal-1/pic03-crop.jpg");
        background-repeat:repeat-x;
        background-position:center;
        background-size:94vw 36vw ;
    }
    /*This change the texts inside the banner*/
    #entry{
        margin:0;
        text-align:center;
        font-size:14vw;
        color: white;
        animation: tracking-in 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        }
    /* --------Animation named "tracking-in", making the texts
    slide in everytime the page is reloaded-------------
    * Modified from the animation generation on Animista
    * Licensed under FreeBSD License.
    * See http://animista.net/license for more info. 
    * w: http://animista.net, t: @cssanimista
    * ---------------------------------------------- */

    @keyframes tracking-in{
        0% {
            letter-spacing: -0.5em;
            opacity: 0;
        }
        40% {
            opacity: 0.6;
        }
        100% {
            opacity: 1;
        }
    }

    /*The twitching word "ME" in banner eb1 and eb3 is actually
    a GIF file that I made, which is styled here*/
    #id-img{
        width:14vw;
        height:10vw;
        transition: transform .3s;
    }


    /************* sub-section ***************/
    /*Sub section includes the animated welcome bar in Home Page and
    some navigational box with anchors that directs the viewer to the
    topic they wanted to read (in case the content inside a page is too big*/
    #welcome{
        text-align:center;  
        width:50%;  
        margin:auto;
        border:1px solid green;  
    }

    #welcome{
        animation: move-around 3s infinite;
    }

    #welcome h1{
        animation: change-color 10s infinite;
        font-size:xx-large;
    }
    /*animation for welcome box*/
    @keyframes move-around{
        5% {transform: translatex(-20px);}
        15% {transform: translatex(20px);}
        25%{transform: translatex(0);}
    }

    @keyframes change-color{
        0%{color: red;}
        5% {color: rgb(53, 53, 158);}
        10% {color:green;}
        20%{color:yellow;}
        25%{color: white;}
        70%{color: white;}
        100%{color: red;}

    }

    .internal-navigation{
        margin:auto;
        text-align:left;
        margin-left:5%;
        margin-right:5%;
        padding:2%;
        border:2px solid green;
    }

    .internal-navigation h2{
        font-size:8vw;
    }

    .navigation-list li{
        font-size:8vw;
        padding:2% 0% 2% 0%;
    }
    /************ sub-section ends ***********/

        

    
    /*main edit starts*/
    /*** main ***/
    /* This is the no-brainer section, which show the styling for
    the main area of each webpage*/
    main{
        margin:2% 0% 2% 0%;
        border:0.5vw dashed green;
        padding:2%;
        overflow:auto;
    }

    .content-img{
        height:84vw;
        width:80vw;
        float:left;
        padding:0vw 2vw 1vw 0vw;
    }
    /*since on phones, the content boxes are usually really big, so 
    I restrict the height of the boxes, and make it scroll-able, so viewers
    could read each blocks without having to finish EACH of them sequentially*/
    .content-block{
        height:100vw;
        overflow:scroll;
    }

    .mcon{
        margin-top:2%;
    }

    .title{
        color:greenyellow;
        font-size: 8vw;
    }
    /*The youtube embeded block that needs to be scaled smaller on phones*/
    #yt-vid{
        height:240px;
        width:300px;
    }

    .content-text{
        margin:0;
        text-align:left;
    }

    .hobby-list{
        border:1px solid green;
        padding: 0;
    }

    #music-list{
        width:95%;
    }

    #movie-list{
        width:95%;
    }
    /*same idea as the content-block*/
    #hobby, #achievements{
        height:300px;
        overflow:scroll;
    }



    /*** aside ***/
    /* Even though I named this section as aside, some parts in this area
    are actually not <aside> related elements, but they are just elements that
    are supporting the main part that is containing this, or supportive/patching styling */
    #portrait{
        width:60%;
        height:100%;
        border:1px solid green;
        object-fit:fill;
        /*my face*/
    }

    #content-list{
        margin:0;
        width:100%;
    }

    #aside-one{
        width:95%;
        border:2px solid green;
        padding:1% 2% 2% 1%;
        overflow: auto;
    }

    #aside-two{
        width:95%;
        border:2px solid green;
        padding:1% 2% 2% 2%;
    }

    #aside-three{
        border:0.5vw dashed green;
        margin:2%;
        padding:1% 2% 2% 2%;
        overflow:auto;
    }
    /* The galleries styling*/
    .gl-image{
        width:250px;
        height:250px;
        object-fit:cover;	
    }
    #gal01{
        overflow:scroll;
        height:80vw;
        border:2px solid green;
        margin:0% 5% 0% 5%;
        }

    #gal02{
        overflow:scroll;
        height:80vw;
        border:2px solid green;
        margin:0% 5% 0% 5%;
    }    

    .gallery table{
        text-align:center;
        margin :auto;
    }
    
    #aussie-pic{
        width:260px;
        height:260px;
        object-fit:cover;	
    }
    /********* main edit ends ************/





    /******* banner starts *******/
    /*This is the additional banner that only appears in the Home Page, but I
decided to put it into a distinct area, since I can update more banners in
the future if I want to (and no, this is not the entry banner)*/
    #banner-one{
        margin:5% 0% 5% 0%;    
        background-image:url("../image/ban1.png");
    }

    #ban-title{
        padding-top:5%;
        padding-bottom:5%;
        padding-left:5%;
        text-align:left;
        font-size:8vw;
        color: white;
        margin:0;
    }

    .banner-button{
        background-color:transparent;
        font-family:monospace;
        border-radius:10px;
        border:2px solid whitesmoke;
        transition: transform .3s;
    }

    .banner-button:hover {
        background-color:rgb(49, 73, 0);
        transform: translateY(5px);
    }
    
    

    /***** banner ends *****/



    /********** TIME TABLE, FORM, ANM STYLING ************/
    /*This section below is probably one of the most important
    styling area in this css file. This helps me style the
    timetable and contact form in Information page. There are also
    some additional styling*/
    #timetable-title{
        animation: tracking-in 2s;
    }
    #timetable{
        overflow:auto;
    }

    .myTimetable {
        width:90%;
        margin:auto;
        border:2px solid green;
        animation: swoosh-in 2s;
        background-image:url("../image/load_1.gif");
        background-repeat:repeat-x;
        background-position:center;
        background-size:394vw 336vw ;
    }
    
    .myTimetable th{
        color: greenyellow;
        background-color: green;
    }
    
    
    .myTimetable td {
        padding: 6px;
        text-align: center;
    }
    
    
    .subject {
        margin-bottom:4px;
        font-weight:bold;
    }
    
    td div{
        animation: swoosh-in 3s;
    }
    /*entry animation for the timetable*/
    @keyframes swoosh-in{
        0% { transform: translatey(-30px); }
        100% { transform: translatey(0px); }
    }


    /*I took some the code from my previous Lab03 task, and modify it
    to fit this webpage*/
    #contact-form{
        display:block;
        width:230px;
        text-align:center;
        
    }

    #form-title{
        font-size:6vw;
    }

    #textbox{
        width:80vw;
    }

    #form-content{
        margin:0;
        text-align:left;
        background-image: linear-gradient(to right, rgb(74, 110, 20),rgb(0, 50, 0), rgb(74, 110, 20));
        border:none;  
    }

    .box{
        background:none;
        border:2px solid white;
        font-size:smaller;
    }

    .option{
        background-color:green;
    }

    #copyright{
        margin:0%;
        padding:2%;
        border:1px solid rgb(78, 1, 1);
        animation: border-blink-red 10s infinite;
    }  

    #copy-title{
        color:rgb(78, 1, 1);
        animation: blink-red 10s infinite;
    }
    /* The copyright notice section will be styled with a
    "blinking red" animation to grab viewer's attention while 
    scrolling through it */
    @keyframes blink-red{
        0%{text-shadow: 0 0 1vw black;color:rgb(78, 1, 1)}
        1%{text-shadow: 0 0 1vw red;color:red}
        2%{text-shadow: 0 0 1vw black;color:rgb(78, 1, 1)}
        4%{text-shadow: 0 0 1vw red;color:red}
        6%{text-shadow: 0 0 1vw black;color:rgb(78, 1, 1)}
        10%{text-shadow: 0 0 1vw red;color:red}
        100%{text-shadow: 0 0 1vw black;color:rgb(78, 1, 1)}
    }

    @keyframes border-blink-red{
        0%{border:1px solid rgb(78, 1, 1)}
        1%{border:1px solid red}
        2%{border:1px solid rgb(78, 1, 1)}
        4%{border:1px solid red}
        6%{border:1px solid rgb(78, 1, 1)}
        10%{border:1px solid red}
        100%{border:1px solid rgb(78, 1, 1)}
    }
    #outsources div{
        text-align: center;
        margin:2%;
    }

    #anm-title{
        animation: change-color 3s infinite;
    }

    /********** TIME TABLE, FORM, ANM STYLING ENDS ************/








    /***** footer starts ******/
    /* The footer has nothing special when it comes to styling,
    but it got that cool looking loading GIF as the background,
    which I have cited in Information Page*/
    footer{
        border:5px dashed green;
        padding:1%;
        overflow:auto;
        margin-top:5%;
        background-image:url(../image/load_1.gif);
    }

    #footer-text{
        font-size:6vw;
        font-family:monospace;
        text-align: center;
        width:70%;
        animation: color-change-foot 5s infinite;
        transition: transform .3s;
        margin: auto;
    }

    @keyframes color-change-foot {
        0% { color: yellow; }
        25% { color:green; }
        75% { color: white; }
        100% { color: yellow; }
    }


    #footer-text:hover{
        transform: translatey(-7px);
    }

    .claim{
        font-size: 4vw;
        opacity:0.85;
        color:whitesmoke;
        text-align :center;
        width:100%;
    }

    #go-up-button{
        width:45px;
        height:45px;
        border:solid 5px rgb(156, 156, 156);
        border-radius:0.5vw;
        background-color:transparent;
        position:fixed;
        bottom:1vw;
        right:1vw;
        animation: border-blink-red 10s;
        
    }
    
    #go-up-button:hover{
        background-color:rgb(231, 231, 231);
        color:red;
    }



    /******* footer ends ********/
}


/**** This is for Phone screens in landscape orientation ****/
/* ALL FUNCTIONALITY ARE THE SAME AS THE VERSION ABOVE, BUT
SOME SCALING FACTORS HAVE BEEN CHANGED TO FIT THE LANDSCAPE VIEWING MODE*/
/*I WILL NOT MAKE MANY COMMENTS IN THIS SECTIONS, AS THEY ARE THE SAME AS ABOVE, IN TERMS OF FUNCTIONALITY.
SOME NUMBERS ARE CHANGED TO FIT THE LANDSCAPE ORIENTATION, AS YOU CAN SEE THE SIZE OF THE TEXTS ARE SMALLER 
WHEN IT IS VIEWED IN MOBILE LANDSCAPE, COMPARES TO MOBILE PORTRAIT*/
@media only screen and (orientation:landscape){
    /***** general settings ****/
    html{
        background-color:rgb(0, 0, 0);
        
    }

    li{
        list-style-type:none;
    }

    hr{
        border: 2px dashed green;
    }

    ::selection {
        color: white;
        background: green;
    }
    
    .text{
        color:whitesmoke;
        font-family:monospace;
        font-size:4.5vw;
    }


    h1{
        color:whitesmoke;
        font-family:monospace;
        font-size:12vw;
    }

    h2{
        color:whitesmoke;
        font-family:monospace;
        font-size: 10vw ;
    }

    h3{
        color:whitesmoke;
        font-family:monospace;
        font-size: 8vw ;
    }


    a{
        color:yellow;
    }

    a:hover{
        animation: color-change-foot 2s infinite;

    }

    /* These 2 lines below put the the size of the scroll bar to 0 on mobile view. */
    ::-webkit-scrollbar {
        width: 0px;
    }
    
    ::-webkit-scrollbar-track {
        border:none; 
    }
    .mobile-image{
        width:50%;
    }


    .mobile-content{
        text-align:center;
        visibility:visible;
        font-size:large;
    }
    /***** general settings ****/
        


    /* header and navigation bar starts */

    header{
        background-color :black;
        background-image: linear-gradient(to right, greenyellow,green, greenyellow);
        text-align :center;  
        height:20vw;
        margin-bottom:1% ;
    }

    #header-logo{
        animation: entrance 2s;
        transition: transform .3s;
        height:25%;
        width:25%;
    }

    #header-logo:hover{
        transform: translatex(-25px);
    }

    @keyframes entrance{
        0%{transform: rotate(180deg) translatey(200px);opacity:0;}
        75%{transform:translatey(0px);}
        100%{transform: rotate(0deg);opacity:1;}
    }

    nav{
        margin:auto;
        text-align:center;
        padding-top:5%; 

    }

    .menu-button {
        width:60%;
        overflow:auto;
        margin:1.25%;
        color:white;
        font-size:6vw;
        border:none;
        font-family:monospace;
        border-radius:13vw;
        background-color:green;
        transition: transform .3s;
        
        
    }

    .menu-button:hover {
        transform: translateY(5px);
        background-color:rgb(141, 207, 40);
    }
    /************ header and navigation bar ends **************/





        /* entry starts*/

    .entry-block{
        overflow: auto;
        padding:20% 0 20% 0;
    }

    #eb1{
        background-image:url("../image/me2.png");
        background-repeat:repeat-x;
        background-position:center;
    }

    #eb2{
        background-image:url("../image/me3.jpg");
        background-repeat:repeat-x;
        background-position:center;
    }

    #eb3{
        background-image:url("../image/gal-1/pic03-crop.jpg");
        background-repeat:repeat-x;
        background-position:center;
        background-size:94vw 36vw ;
    }

    #entry{
        margin:0;
        text-align:center;
        font-size:12vw;
        color: white;
        animation: tracking-in 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        }
        /* --------Animation named "tracking-in"-------------
    * Modified from the animation generation on Animista
    * Licensed under FreeBSD License.
    * See http://animista.net/license for more info. 
    * w: http://animista.net, t: @cssanimista
    * ---------------------------------------------- */

    @keyframes tracking-in{
        0% {
            letter-spacing: -0.5em;
            opacity: 0;
        }
        40% {
            opacity: 0.6;
        }
        100% {
            opacity: 1;
        }
    }


    #id-img{
        width:14vw;
        height:10vw;
        transition: transform .3s;
    }


    /************* sub-section ***************/
    #welcome{
        text-align:center;  
        width:50%;  
        margin:auto;
        border:1px solid green;  
    }

    #welcome{
        animation: move-around 3s infinite;
    }

    #welcome h1{
        animation: change-color 10s infinite;
        font-size:x-large;
    }

    @keyframes move-around{
        5% {transform: translatex(-20px);}
        15% {transform: translatex(20px);}
        25%{transform: translatex(0);}
    }

    @keyframes change-color{
        0%{color: red;}
        5% {color: rgb(53, 53, 158);}
        10% {color:green;}
        20%{color:yellow;}
        25%{color: white;}
        70%{color: white;}
        100%{color: red;}

    }

    .internal-navigation{
        margin:auto;
        text-align:left;
        margin-left:5%;
        margin-right:5%;
        padding:2%;
        border:2px solid green;
    }

    .internal-navigation h2{
        font-size:6vw;
    }

    .navigation-list li{
        font-size:6vw;
        padding:2% 0% 2% 0%;
    }
    /************ sub-section ends ***********/

        

    
    /*main edit starts*/
    /*** main ***/
    main{
        margin:2% 0% 2% 0%;
        border:0.5vw dashed green;
        padding:2%;
        overflow:auto;
    }

    .content-img{
        height:84vw;
        width:80vw;
        float:left;
        padding:0vw 2vw 1vw 0vw;
    }

    .content-block{
        height:100vw;
        overflow:scroll;
    }

    .mcon{
        margin-top:2%;
    }

    .title{
        color:greenyellow;
        font-size: 7vw;
    }

    #yt-vid{
        height:240px;
        width:300px;
    }

    .content-text{
        margin:0;
        text-align:left;
    }

    .hobby-list{
        border:1px solid green;
        padding: 0;
    }

    #music-list{
        width:95%;
    }

    #movie-list{
        width:95%;
    }

    #hobby, #achievements{
        height:300px;
        overflow:scroll;
    }


    /*** aside ***/
    #portrait{
        width:60%;
        height:100%;
        border:1px solid green;
        object-fit:fill;
    
    }

    #content-list{
        margin:0;
        width:100%;
    }

    #aside-one{
        width:95%;
        border:2px solid green;
        padding:1% 2% 2% 1%;
        overflow: auto;
    }

    #aside-two{
        width:95%;
        border:2px solid green;
        padding:1% 2% 2% 2%;
    }

    #aside-three{
        border:0.5vw dashed green;
        margin:2%;
        padding:1% 2% 2% 2%;
        overflow:auto;
    }

    .gl-image{
        width:250px;
        height:250px;
        object-fit:cover;	
    }
    #gal01{
        overflow:scroll;
        height:80vw;
        border:2px solid green;
        margin:0% 5% 0% 5%;
        }

    #gal02{
        overflow:scroll;
        height:80vw;
        border:2px solid green;
        margin:0% 5% 0% 5%;
    }    

    .gallery table{
        text-align:center;
        margin :auto;
    }
    /********* main edit ends ************/





    /******* banner starts *******/
    #banner-one{
        margin:5% 0% 5% 0%;    
        background-image:url("../image/ban1.png");
    }

    #ban-title{
        padding-top:5%;
        padding-bottom:5%;
        padding-left:5%;
        text-align:left;
        font-size:6vw;
        color: white;
        margin:0;
    }

    .banner-button{
        background-color:transparent;
        font-family:monospace;
        border-radius:10px;
        border:2px solid whitesmoke;
        transition: transform .3s;
    }

    .banner-button:hover {
        background-color:rgb(49, 73, 0);
        transform: translateY(5px);
    }

    #aussie-pic{
        width:260px;
        height:260px;
        object-fit:cover;	
    }

    /***** banner one ends *****/



    /********** TIME TABLE, FORM, ANM STYLING ************/
    #timetable-title{
        animation: tracking-in 2s;
    }
    #timetable{
        overflow:auto;
        height:30%;
    }

    .myTimetable {
        width:90%;
        margin:auto;
        border:2px solid green;
        animation: swoosh-in 2s;
        background-image:url("../image/load_1.gif");
        background-repeat:repeat-x;
        background-position:center;
        background-size:394vw 336vw ;
        
    }
    
    .myTimetable th{
        color: greenyellow;
        background-color: green;
    }
    
    
    .myTimetable td {
        padding: 6px;
        text-align: center;
    }
    
    
    .subject {
        margin-bottom:4px;
        font-weight:bold;
    }
    
    td div{
        animation: swoosh-in 3s;
    }

    @keyframes swoosh-in{
        0% { transform: translatey(-30px); }
        100% { transform: translatey(0px); }
    }



    #contact-form{
        display:block;
        width:230px;
        text-align:center;
        
    }

    #form-title{
        font-size:4vw;
    }

    #textbox{
        width:80vw;
    }

    #form-content{
        margin:0;
        text-align:left;
        background-image: linear-gradient(to right, rgb(74, 110, 20),rgb(0, 50, 0), rgb(74, 110, 20));
        border:none;  
    }

    .box{
        background:none;
        border:2px solid white;
        font-size:smaller;
    }

    .option{
        background-color:green;
    }

    #copyright{
        margin:0%;
        padding:2%;
        border:1px solid rgb(78, 1, 1);
        animation: border-blink-red 10s infinite;
    }  

    #copy-title{
        color:rgb(78, 1, 1);
        animation: blink-red 10s infinite;
    }

    @keyframes blink-red{
        0%{text-shadow: 0 0 1vw black;color:rgb(78, 1, 1)}
        1%{text-shadow: 0 0 1vw red;color:red}
        2%{text-shadow: 0 0 1vw black;color:rgb(78, 1, 1)}
        4%{text-shadow: 0 0 1vw red;color:red}
        6%{text-shadow: 0 0 1vw black;color:rgb(78, 1, 1)}
        10%{text-shadow: 0 0 1vw red;color:red}
        100%{text-shadow: 0 0 1vw black;color:rgb(78, 1, 1)}
    }

    @keyframes border-blink-red{
        0%{border:1px solid rgb(78, 1, 1)}
        1%{border:1px solid red}
        2%{border:1px solid rgb(78, 1, 1)}
        4%{border:1px solid red}
        6%{border:1px solid rgb(78, 1, 1)}
        10%{border:1px solid red}
        100%{border:1px solid rgb(78, 1, 1)}
    }
    #outsources div{
        text-align: center;
        margin:2%;
    }

    #anm-title{
        animation: change-color 3s infinite;
    }

    /********** TIME TABLE, FORM, ANM STYLING ENDS ************/








    /***** footer starts ******/
    footer{
        border:5px dashed green;
        padding:1%;
        overflow:auto;
        margin-top:5%;
        background-image:url(../image/load_1.gif);
    }

    #footer-text{
        font-size:5vw;
        font-family:monospace;
        text-align: center;
        width:70%;
        animation: color-change-foot 5s infinite;
        transition: transform .3s;
        margin: auto;
    }

    @keyframes color-change-foot {
        0% { color: yellow; }
        25% { color:green; }
        75% { color: white; }
        100% { color: yellow; }
    }


    #footer-text:hover{
        transform: translatey(-7px);
    }

    .claim{
        font-size: 3vw;
        opacity:0.85;
        color:whitesmoke;
        text-align :center;
        width:100%;
    }

    #go-up-button{
        width:45px;
        height:45px;
        border:solid 5px rgb(156, 156, 156);
        border-radius:0.5vw;
        background-color:transparent;
        position:fixed;
        bottom:1vw;
        right:1vw;
        animation: border-blink-red 10s;
        
    }
    
    #go-up-button:hover{
        background-color:rgb(231, 231, 231);
        color:red;
    }

}